@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root{
  --mainColor: blue;
  --secondaryColor: blue;
  --darkColor:#232323;
  --greyColor:#F9F9F9;

}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--greyColor);
  color: var(--darkColor);
  font-size: 16px;
}

.title{
  font-weight: 700;
}
.text {
  font-size: 14px;
  font-weight: 400;
}